<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBUrl" value="Server=127.0.0.1; Port=5432; User ID=postgres; Password=postgres;Database=postgres;"/>
    <add key="testDB" value="0"/>
    <add key="Testurl" value="Unittest Teststring"/>
  </appSettings>
</configuration>